* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body { 
  min-height: 100vh;
  font-size: 1.5rem;
}
/* NAVBAR */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(148, 127, 149);
  padding: 30px 70px ;
  box-shadow: 0 5px 15px rgba(94, 8, 100, 0.37);
}
#logo a {
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight:900;
  transition: 0.3s ease-in-out
}
#logo a:hover{
  color: rgb(77, 6, 6);
}
#container{
  height: 30px;
}
#navbar{
  display:flex;
  align-items: center;
  justify-content: center;
  bottom: 7.5px ;
 
}
#navbar li {
  list-style: none;
  padding: 0px 30px ;
  position: relative;
}
#navbar li a {
  text-decoration:none ;
  font-size: 20px ;
  font-weight: 700;
  color: white;
  transition: 0.3s ease-in-out ;
}
#navbar li a:hover{
  color: rgb(77, 6, 6);
}
#navbar li a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background-color: rgb(77, 6, 6);
  position: absolute;
  bottom: -4px;
  left: 30px;
}
#mobile{
  display: none;
}
#mobile i{
   color: white;
}
@media screen and (max-width:800px) {

  #navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 0 0 10px;
    position: fixed;
    top: 105px;
    right: -200px;
    width: 200px;
    height: 40vh;
    background-color: rgb(148, 127, 149);
    transition: 0.3s ease-in-out;
    backdrop-filter: blur(5px);
    border-bottom-left-radius: 10px;
    
  } 
  #navbar.active{
    right: 0px;
    position: absolute;
    z-index: 2;
  }
  #navbar li{
    margin-bottom: 25px;
  }
  #mobile{
    display: block;
  }

  #mobile i {
    font-size: 24px;
    cursor: pointer;
  }
}

/* FOOTER */
#footer{
  padding-top: 2% ;
  padding-bottom: 2%;
  text-align: center;
}
.iconss{
  margin:6px;
  padding-bottom: 10px;
}
#icon:hover{
  color: rgb(255, 0, 0);
}
Link {
  color: rgb(162, 33, 33);
}

/*PRODUCT CARD*/
.card-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  /* padding: 0%; */
}

.card-box {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  padding: 20px;
  border: 0.5px solid #ede7e7;
  border-radius: 10px;
}

.card-top {
  height: 30px;
}

.card-tag {
  color: blueviolet;
  display: inline-block;
  height: 25px;
  width: 25px;
}

.card-category {
  font-size: 14px;
  font-weight: bold;
  padding-left: 15px;
  display: inline-block;
}

.card-title {
  font-size: small;
  color: gray;
}

.card-img-container {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: center;
}

.card-image {
  height: 200px;
  width: 200px;
  margin-top: 10px;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.card-price {
  font-size: 14px;
  padding: 5px;
  height: 30px;
  width: 70px;
  border-radius: 20px;
  background-color: rgb(204, 184, 228);
  display: flex;
  justify-content: center;
}

.card-cart {
  /* color: blueviolet; */
  color: rgb(141, 71, 226);
  height: 35px;
  width: 35px;
}

.main {
  margin: 25px 50px;
}

/* .skeleton-row {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
} */
.skeletonn {
  display: inline-block;
  /* width: 330px; */
  padding-right: 5px;
  width: 25%;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn {
  width: 100px;
}

/* Login */
/* Login-Signup: Done */
.form {
  position: relative;
  margin: 100px auto;
  width: 400px;
  height: 450px;
  background:rgba(255, 255, 255, .15);
  box-shadow: 0 8px 32px rgba(94, 8, 100, 0.37);
  border: 1px solid rgba(255, 255, 255, .18);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items:  center;
}
.form-sign {
  position: relative;
  margin: 100px auto;
  width: 400px;
  height: 500px;
  background:rgba(255, 255, 255, .15);
  box-shadow: 0 8px 32px rgba(94, 8, 100, 0.37);
  border: 1px solid rgba(255, 255, 255, .18);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items:  center;
}
.login-header{
  font-size: 35px;
  color: rgb(118, 25, 25);
  text-align: center;

}
.input-container{
  position: relative;
  width: 320px;
  margin: 30px 0;
  border-bottom: 2px solid rgb(147, 31, 31) ;
}
.input-container label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  font-weight: 600;
  pointer-events: none;
  color: rgb(91, 17, 17);
  transition: .5s;
}
.input-container input:focus~label,
.input-container input:valid~label{
    top: 5px;
}
.input-container input{
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: rgb(127, 29, 132);
  padding: 0 35px 0 5px;
}
.remember-forget{
  margin: -15px 0 15px;
  font-size: 17px;
  color: rgb(127, 29, 132);
  display: flex;
  justify-content: space-between;
}
.remember-forget a {
  color: rgb(127, 29, 132);
  text-decoration: none ;
}
.remember-forget a:hover {
  text-decoration: underline;
  color: rgb(223, 12, 12);
}

.remember-forget label input{
  accent-color: rgb(127, 29, 132);
  margin-right: 3px;
}
.sui {
  width: 100%;
  height: 45px;
  background: rgb(193, 73, 199);
  outline: none;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}
.register-link {
  font-size: 17px;
  text-align: center;
  color: rgb(127, 29, 132);
  margin: 25px 0 10px;
}

.register-link p a {
  color: rgb(127, 29, 132);
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
  color: rgb(223, 12, 12);
}

/* Cart Page */
.cart-container {
  margin: 30px 50px;
}

.cart-table {
  margin-top: 25px;
  border: 2px solid gray;
  width: 100%;
}

th {
  font-size: large;
  color: blueviolet;
  padding: 15px;
  border-bottom: 1px solid black;
}

td {
  /* width: 10px; */
  padding: 15px;
}

/* .cart-title {
  font-size: 60px;
  color: gray;
  display: inline-block;
} */

.cart-cart {
  height: 100px;
  width: 100px;
  color: rgb(77, 64, 64);
  /* display: inline-block; */
}

.cart-image {
  width: 40px;
  height: 40px;
}

.cart-delete {
  height: 25px;
  width: 25px;
  color: rgb(158, 89, 223);
}

.three-dots{
  font-size: 100px;
  color: gray;
  display: flex;
  justify-content: center;
}

.cart-counter {
  font-size: 14px;
  padding: 5px;
  height: 30px;
  width: 70px;
  border-radius: 20px;
  background-color: rgb(204, 184, 228);
  display: flex;
  justify-content: center;
}